@import url("https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  box-sizing: border-box;
}
* {
  margin: 0;
  font-family: "Tinos", serif;
  box-sizing: border-box;
}
main {
  margin: 80px 0 0;
  font-size: 18px;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  align-items: center;
}
.category {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 2px;
}
.cat-1 {
  margin-right: 12px;
}
.icons {
  width: 30px;
}
.category-title {
  font-size: 16px;
  font-weight: 700;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index : 9999;
}

button {
  text-transform: uppercase;
  height: 28px;
  margin-right: 10px;
  background-color: #6288a5;
  border: none;
  color: white;
  font-size: 12px;
  font-weight: 400;
  padding: 0 12px;
  border-radius: 4px;
}
.login {
  margin-right: 30px;
}
.main_image {
  width: 100%;
  max-width: 900px;
}
.title {
  margin-top: 30px;
  font-size: 45px;
  font-style: italic;
  max-width: 500px;
  margin: 30px auto;
  float: left;
  margin-left: 260px;
}
article {
  width: 70%;
  margin: auto;
  align-items: center;
}
.sub {
  font-size: 17px;
  margin-top: 10px;
  color: rgb(57, 55, 55);
  line-height: 1.5;
  max-width: 900px;
}
.author-info {
  margin-top: 20px;
}
.article-top {
  margin-left: 70px;
}
.content {
  font-size: 20px;
  margin-left: 70px;
  margin-top: 20px;
  line-height: 1.5;
  max-width: 800px;
}
.control {
  float: left;
}
div {
  display: block;
}

.wrapperImg {
  width: 850px;
}
.content2 {
  position: relative;
}
.content2 h3 {
  margin: 20px 0;
}

.grid-container {
  position: absolute;
  display: grid;
  width: 850px;
  grid-template-columns: auto auto auto auto;
  column-gap: 20px;
  row-gap: 140px;
  top: 208px;
}

.Wrap {
  font-size: 12px;
  padding-left: 6px;
}

.spaceToP p,
h3,
iframe
 {
  margin-top: 30px;
}

.spaceToP span {
  font-style: italic;
  font-size: 16px;
}
.logo {
  margin-top: 10px;
}
